# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/

# Django migrations
*/migrations/
*.sqlite3

# Django cache / session / local files
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.swp

# VSCode or JetBrains IDE
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Media uploads
med
